<!doctype html>
<!-- #if( false )
  Prerequisites from server model:
  --------------------------------
  ${locale}, ${debug}, ${experiments},
  ${newRelicEndUserHeader}, ${newRelicEndUserFooter}
  ${clientTopology.documentsStaticsUrl},
  ${clientTopology.staticBaseUrl},

  More details at: http://kb.wixpress.com/display/dashboard/How+to+integrate+server+with+index.vm
#end -->
<!--
  #set( $staticsUrl = $clientTopology.documentsStaticsUrl )
  #set( $staticBaseUrl = $clientTopology.staticBaseUrl )
-->
<html ng-app="documentsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>documents</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">
    <meta name="referrer" content="origin">
    <link type="image/png" href="//www.wix.com/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="${staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css">
    <!-- process-tags prefix('${staticsUrl}') -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- end-process-tags -->
    ${newRelicEndUserHeader}
  </head>
  <body>

    <!-- Add your site or application content here -->
    <game-app></game-app>


    <!-- process-tags prefix('${staticsUrl}') -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/es6-shim/es6-shim.js"></script>
    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/wix-angular/dist/wix-angular.js"></script>
    <script src="bower_components/wix-bi-logger/dist/scripts/bi-logger/wix-bi-angular.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/model/dot.js"></script>
    <script src="scripts/components/game-app.component.js"></script>
    <script src="scripts/model/board.js"></script>
    <script src="scripts/model/player.js"></script>
    <script src="scripts/model/line.js"></script>
    <script src="scripts/services/game.js"></script>
    <script src="scripts/components/score-table.js"></script>
    <!-- endbuild --><!-- scripts -->
    <!-- build:locale({.tmp,app}) scripts/locale/messages_${locale}.js -->
    <script src="scripts/locale/messages_${locale}.js"></script>
    <!-- endbuild -->
    <!-- end-process-tags -->

    <!-- #if( ${enableMocks} ) -->
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>

    <!-- build:js(.tmp) scripts/mocks.js -->
    <script src="test/mock/server-api.js"></script>
    <!-- endbuild -->

    <script>
      /* jshint ignore:start */
      if ('${enableMocks}' === 'true') {
        angular.module('documentsApp').requires.push('documentsAppMocks');
      }
    </script>
    <!-- #end -->
    <script>
      angular.module('documentsApp').config(function (wixAngularTopologyProvider, experimentManagerProvider) {
        wixAngularTopologyProvider.setStaticsUrl('${staticsUrl}');
        experimentManagerProvider.setExperiments(JSON.parse('${experiments}'));
      });
    </script>

    ${newRelicEndUserFooter}

  </body>
</html>
